
<div class = "">
  <% @post.each do |post| %>
   <div class = " justify-content-start">
     <div class = "d-flex flex-column mb-2">
      <div class = "d-flex ml-3 pt-3 border-top border-dark">
       <%= link_to post_path(post.id) do %>
        <%= image_tag post.get_image,  style: "border-radius: 10%; width: 200px; height: 200px" %>
       <% end %>
        <div class = "flex-column">
         <h4><%= post.title %></h4>
         <div>
          <%= link_to user_path(post.user.id) do %>
          <%= image_tag post.user.get_profile_image(100,100), style: "border-radius: 50%;" %>
          <%= post.user.name %>
          <% end %>
        </div>
       </div>
      </div>
     </div>
  <% end %>
   </div>
 </div>
</div>