<div class="card-list-container py-5">
 <div class="w-50 h-auto mx-auto mt-4 shadow-lg">
    <%= image_tag @post.get_image, class:"card-img-top"; %>
 <div class="card-body">
   <div class="row">
    <div class="col-10">
     <p class="card-title">
       <strong><i class="far fa-flag"></i><span> <%= @post.title %></span></strong>
       <p><%= @post.body %></p>
    </p>
    <%= render 'public/post/tag_list', tag_list: @post.tag_list %>
    <div class = "d-flex">
     　<%= link_to user_path(@post.user.id) do %>
       <%= image_tag @post.user.get_profile_image(30,30), style: "border-radius: 50%;" %>
       <%= @post.user.name %>
       <% end %>
      </div>
    <span>
     <% if @post.favorited_by?(current_user) %>
    <p>
      <%= link_to post_favorites_path(@post), method: :delete do %>
        ♥<%= @post.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to post_favorites_path(@post), method: :post do %>
        ♡<%= @post.favorites.count %> いいね
      <% end %>
    </p>
     <% end %>
    </span>
    <span>
     <% if @post.user == current_user %>
      <%= link_to "編集", edit_post_path(@post.id) %>
      <%= link_to "削除", post_path(@post.id), method: :delete, data: { confirm: "作品を削除しますか？"} %>
     <% end %>
    </span>
   </div>
  </div>
 </div>
 <div class = "card-comment border-top">
  <% @post.post_comments.each do |post_comment| %>
    <div class="d-flex">
     <%= image_tag post_comment.user.get_profile_image(100,100), class:"mt-3 rounded-circle"; %>
     <div>
      <p><%= post_comment.user.name %></p>
      <p><%= post_comment.comment %></p>
      <div class = "d-flex">
       <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
       <% if post_comment.user == current_user %>
       <%= link_to "コメント削除", post_post_comment_path(post_comment.post, post_comment), method: :delete, data: { confirm: "コメントを削除しますか？"} %>
       <% end %>
      </div>
     </div>
    </div>
  <% end %>
  </div>
  <div>
  <%= form_with model:[@post, @post_comment] do |f| %>
  <% if @post_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= @post_comment.errors.count %>件のエラーが発生しました。</h2>
      <ul>
        <% @post_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
   <%= f.text_area :comment, style: "width:100%" , rows: '5', placeholder: "コメントをここに" %>
   <%= f.submit "送信する" %>
  <% end %>
  </div>
 </div>
</div>
</div>
