<div class="row">
  <h4><div class="public-title p-3">新規登録</div></h4>
</div>


<%= form_with model:@user, url: user_registration_path, local: true do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>
<div class="row">
  <div class="col-10">
    <table class="table table-borderless">
      <tbody>
        <tr>
          <td>ユーザー名</td>
          <td>
             <%= f.text_field :name, placeholder:"ユーザー名", class:"ml-5" %>
          </td>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレス", class:"ml-5" %></td>
        </tr>
        <tr>
          <td>パスワード（６文字以上）</td>
          <td> <%= f.password_field :password, autocomplete: "パスワード", class:"ml-5" %></td>
        </tr>
        <tr>
          <td>パスワード（確認用）</td>
          <td> <%= f.password_field :password_confirmation, autocomplete: "パスワード", class:"ml-5" %></td>
        </tr>
        <tr>
          <td></td>
          <td> <%= f.submit "新規登録", class:"btn btn-success w-160px ml-5" %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>

<div class="row">
  <h4><div class="public-title-b p-3">既に登録済みの方</div></h4>
</div>
<ins><%= link_to "こちら", new_user_session_path %></ins>からログインしてください。
